* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, footer {
    min-height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }
  
  .navegation-container, .backToTop {
    display: flex;
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    
    &:hover {
        text-decoration: underline;
  }
}
  
.img-logo {
    width: 200px;
    margin-left: 35px;
  }
  
  .wellcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 30px 0 30px;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;

    &.main-content > div:hover {
        cursor: pointer;
    }
  }
  
  .aside-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 60px;
    background-color: rgb(94, 94, 94);
    margin-bottom: 40px;
    row-gap: 25px;

    &.aside-content > div:hover {
        cursor: pointer;
    }
  }
  
  .main-images {
    width: 350px;
    min-height: 240px;
    border-radius: 10px;
  }
  
  .aside-images {
    width: 300px;
    border-radius: 10px;
  }
  
  .main-content > div > p {
    width: 350px;
    font-size: 18px;
  }
  
  .aside-content > div > p {
    width: 300px;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .backToTop {
    font-size: 25px;
  }

  @media (max-width: 1700px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
        padding-right: 30px;
      }
  }

  @media (max-width: 1250px) {
    .main-container {
        flex-wrap: wrap;
    }

    .aside-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .aside-images {
        width: 100%;
        border-radius: 10px;
      }

      .aside-content > div {
        width: 50%;
      }

      .aside-content > div > p {
        width: 100%;
        font-size: 3vw;
      }
  }