*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    border: solid 2px black;
    text-align: center;
}

main {
    background-color: gray;
    padding:30px 0px 175px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px 25px;
    align-content: center;
}

.videos-box {
    width: 500px;
    height: 300px;
    border: solid 2px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}